html,
body {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f5f5f5;
}

canvas {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
}

#message {
  position: absolute;
  left: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  z-index: 100;
  width: 100%;
  text-align: center;
  font-size: 2vh;
  transition: 0.8s;
}

#message p {
  line-height: 15px;
}

.word {
  cursor: pointer;
  font-weight: bold;
  font-size: 3vhz;
}

.word:hover {
  text-decoration: underline;
}

#message.white {
  color: white;
}

#message.black {
  color: black;
}
